<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-tabla">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-tabla`
     * Aqui va la tabla
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementTabla extends Polymer.Element {
      static get is() { return 'element-tabla'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-tabla'
          }
        };
      }
    }

    window.customElements.define(ElementTabla.is, ElementTabla);
  </script>
</dom-module>
