<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-tabla">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
	<table style="width:100%" border="1">
		<tr>
			<th>Fecha</th>
			<th>Descripcion</th>
			<th>Monto</th>
		</tr>
		
		<template is = 'dom-repeat' items="{{elementos}}">
			<tr>
				<td>{{item.fecha}}</td>
				<td>{{item.desc}}</td>
				<td>{{item.mont}}</td>
			</tr>
		</template>
		
	</table>
  </template>

  <script>
    /**
     * `element-tabla`
     * Aqui va la tabla
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementTabla extends Polymer.Element {
      static get is() { return 'element-tabla'; }
      static get properties() {
        return {
          elementos: {
			value(){
				return[
					{fecha: '22-03-2000', desc: 'Un día cualquiera', mont: '4000'},
					{fecha: '15-05-1979', desc: 'Otro día', mont: '5000'},
					{fecha: '20-17-2049', desc: 'Un día más', mont: '198314501'}
				];
			}
			
          }
        };
      }
    }

    window.customElements.define(ElementTabla.is, ElementTabla);
  </script>
</dom-module>
